.gameform-container {
    display: flex;
    flex-direction: column;
    max-width: 92%;
    margin: auto;
    height: calc(85vh);
    max-height: 80%;
    margin-top: 5.5% !important;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.566);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    padding: 6px;
}

.gameform-banner {
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    border-top-left-radius: 8px;
    top: 0;
    border-top-right-radius: 8px;
    height: 200px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.gameform-icon {
    background-position: center center;
    background-size: contain;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    transform: translate(0%, -50%);
    border: 8px solid rgba(0, 0, 0, 0.716);
    ;
}

.gameform-heading {
    text-align: left;
    font-size: 32px;
    margin-left: 10px;
    margin-top: -7.5%;
}

.label {
    font-weight: bold;
    color: #04d9ff;
    margin-bottom: -5px;
    margin-left: 10px;
}

.value {
    color: #fff;
    margin-left: 10px;
}

.loading {
    color: #04d9ff;
}

.error {
    color: #ff0000;
}

.openModalButton {
    width: 30%;
    margin-left: 69%;
    margin-bottom: 1%;
    transform: translate(0%, -350%);
    background-color: #04d9ff;
    transition: background-color 0.3s ease;
}

.openModalButton:hover {
    background-color: #009ac8;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/src/assets/vapowave.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    z-index: 1000;
}

.modal.open {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin-top: 5% !important;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.566);
    border: 1px solid #ccc;
}

.columns {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 1%;
}

.left-half,
.right-half {
    width: 100%;
}

.blueText {
    color: #04d9ff;
}

.select {
    width: 92.5%;
}

.custom-button {
    background-color: #04d9ff;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0288d1;
}

.custom-button2 {
    margin-top: 1%;
    width: 48%;
    margin: 1%;
    background-color: #04d9ff;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button2:hover {
    background-color: #0288d1;
}


.small-input {
    width: 100% !important;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.column2 {
    padding: 0 15px;
}

/* Set the width for the first two columns to 38% each */
.column2:nth-child(1),
.column2:nth-child(2) {
    flex-basis: 36%;
}

/* Set the width for the last column to 24% */
.column2:nth-child(3) {
    flex-basis: 28%;
}

/* Add these styles to your CSS file */
.popup {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #04d9ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
    /* Set text color to black */
    z-index: 1;
    /* Ensure the popup is above other elements */
    display: none;
    /* Hide the popup by default */
}

.popup p {
    margin: 5px 0;
}

/* Adjust styles for better visibility and aesthetics */
.preview-container {
    position: relative;
    overflow: hidden;
}

.sprite-preview {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.preview-container:hover .sprite-preview {
    transform: scale(1.1);
}

.preview-container:hover .popup {
    display: block;
    position: absolute;
    top: 50%;
    /* Adjust as needed */
    left: 50%;
    /* Adjust as needed */
    transform: translate(-50%, -50%);
}