/* UserPage.css */

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .user-profile {
    margin-bottom: 20px;
  }
  
  .user-profile img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    margin-top: 100%;
  }
  
  .user-details {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.729);
  }
  
  .user-details h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .user-details p {
    margin: 5px 0;
    color: #04d9ff;
  }
  
  .user-details button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .user-details button:hover {
    background-color: #0056b3;
  }
  